{% extends "base_admin.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="card border-0 shadow mt-4">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h4>Otsingule "{{ search_phrase }}" vastab {{ list_count }} kirjet</h4>
                <div class="pagination">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link link-dark {% if not search_result_menuu.has_previous %} disabled {% endif %}" href="?page=1">
                                <i class="fa-solid fa-angles-left"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link link-dark {% if not search_result_menuu.has_previous %} disabled {% endif %}" href="{% if search_result_menuu.has_previous %} ?page={{ search_result_menuu.previous_page_number }} {% endif %}">
                                <i class="fa-solid fa-angle-left"></i>
                            </a>
                        </li>

                        <li class="page-item">
                            <a href="" class="page-link link-dark disabled">
                                Leht {{ search_result_menuu.number }} / {{ search_result_menuu.paginator.num_pages }}
                            </a>
                        </li>

                        <li class="page-item">
                            <a class="page-link link-dark {% if not search_result_menuu.has_next %} disabled {% endif %}" href="{% if search_result_menuu.has_next %} ?page={{ search_result_menuu.next_page_number }} {% endif %}">
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link link-dark {% if not search_result_menuu.has_next %} disabled {% endif %}" href="?page={{ search_result_menuu.paginator.num_pages }}">
                                <i class="fa-solid fa-angles-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <table class="table table-hover mt-3">
                <thead>
                    <tr class="table-dark">
                        <td>Kuupäev</td>
                        <td>Kategooria</td>
                        <td>Nimetus</td>
                        <td>Hind suur</td>
                        <td>Hind väike</td>
                    </tr>
                </thead>
                <tbody>
                {% for result in search_result_menuu %}
                    <tr>
                        <td>
                            <a class="link-dark" href='{% url "bistrooapp_admin:change_menuu_date" line_id=result.id %}'>{{ result.menu_date | date:"d.m.Y" }}</a>
                        </td>
                        <td>{{ result.category_name }}</td>
                        <td>{{ result.description }}</td>
                        <td>{{ result.price_full }}</td>
                        {% if result.price_half %}
                        <td>{{ result.price_half }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
