{% extends "base_admin.html" %}
{% load static %} {# vaja et laeks static kataloogi #}
{% block content %}
    <div class="container">
        <div class="card border-0 shadow mt-4">
            <div class="card-body">
                <h4>Muuda {{ current_date | date:"d.m.Y" }} rida</h4>
                <form method="post" action='{% url "bistrooapp_admin:update_subline" line_id=line_id %}'
                      class="forms_gen" novalidate>
                    {% csrf_token %}
                    {{ subline_up_form.as_p }}
                    <button type="submit" class="btn btn-success"><i class="fa-solid fa-save me-2"></i>Salvesta</button>
                    <a href='{% url "bistrooapp_admin:menuu_list" %}' class="btn btn-outline-dark">Tagasi töölauale</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
