{% extends "base_admin.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="card border-0 shadow mt-4">
            <div class="card-body p-4">
                <h4>Lisa {{ current_date | date:"d.m.Y"}} {{ categoryus | lower }}</h4>
                <form method="post" action='{% url "bistrooapp_admin:add_subline" category=categoryus %}' novalidate class="forms_gen">
                    {% csrf_token %}
                    {{ subline_form.as_p }}
                    <button class="btn btn-success" type="submit"><i class="fa-solid fa-save me-2"></i>Salvesta</button>
                    <a href='{% url "bistrooapp_admin:menuu_list" %}' class="btn btn-outline-dark">Tagasi töölauale</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

