@font-face {
  font-family: 'Patrick Hand';
  src: url('https://fonts.gstatic.com/s/patrickhand/v23/LDI1apSQOAYtSuYWp8ZhfYe8UMLLq7s.woff2') format('woff2');
}

td.pub_head_text {
    background-color: #c3efec;
    font-family: 'Patrick Hand', "Comic Sans MS", sans-serif, cursive;
    font-size: 18px;
    font-weight: bolder;
    color: black;
    padding: 1px;
    padding-left: 20px;
}
td.pub_head_text_koolilouna {
    background-color: #c3efec;
    font-family: 'Patrick Hand', "Comic Sans MS", sans-serif, cursive;
    font-size: 18px;
    font-weight: bolder;
    color: red;
    padding: 1px;
    padding-left: 20px;
}
.headings{
    color: black;
    background-color: #c3efec;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Patrick Hand', "Comic Sans MS", sans-serif, cursive;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.pub_row_text {
    font-family: 'Patrick Hand', "Comic Sans MS", sans-serif, cursive;
    font-size: 18px;
    font-weight: bolder;
    padding: 1px;
    padding-left: 20px;
}
.pub_background{
    background-image: url("/static/icons/Outline_pattern_11.jpg");
    background-size: 400px;
    opacity: 100%;
}
body{
    position: relative;
    min-height: 100vh;
}
body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/static/icons/Outline_pattern_11.jpg");
    background-size: 400px;
    opacity: 20%;
    z-index: -1;
}